<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=edge" />
    <title>Mesa de control</title>
    <link rel="stylesheet" type="text/css" href="css/estilos.css" />
  </head>
  <body ng-app="app" ng-controller="validarForm">
    <div class="page">
      <div class="header">
      <div class="headerMenu">
        <a href="#" id="hamburger"><img src="img/btn_hamburguer.svg" alt="Menú principal" class="imgHamburgesa"></a>
      </div>
      <div class="headerLogo">
        <a href="index.html"><img src="img/logo.svg" id="imgLogo"></a>
      </div>
      <div class="headerUser">
        <div class="name"><strong>Coyolxauhqui</strong> Ramírez Romero<br> Administrador</div>
        <div class="pic" style="background-image: url('img/user.jpg');"></div>
        <div class="user-menu">
          <a href="#"><img src="img/btn_desp_menu.svg" class="imgShowMenuUser"></a>
        </div>
        <div class="fecha">
			<b>23/Julio/2019</b><br>
			<span>15:30Hrs.</span>
		</div>
      </div>

    </div>
      <div class="MenuUser">
        <div class="MenuUser1">
          <a href="login.html" class="selMenu">
            <div>Salir</div>
            <div><img src="img/ico5.svg" class="imgConfig" /></div>
          </a>
        </div>
      </div>
      <div class="clear"></div>

      <div class="titulo">
        <div class="ruta">
          <a href="index.html">Página Principal</a> /
          <a href="galeria.html">Mesa de Control</a>
        </div>
        Mesa de Control
      </div>

      <!-- Menu -->
      <div id="effect" class="ui-widget-content ui-corner-all">
        <div id="menuPrincipal">
          <div class="header-usuario">
            <div id="foto"><img src="img/logo1.svg" class="imgLogo" /></div>
            <div id="inf-usuario">
              <span>Portal</span><br />
              Menú Principal<br />
            </div>
          </div>
          <div id="buscador">
          <form id="miForm" name="miForm" action="" method="get" onsubmit="return valida(this)">
            <div class="w87"><input type="text" id="busca">
              <input type="submit" class="buscar" value=""></div>
          </form>
        </div>
          <div id="menu">
            <ul class="l-navegacion nivel1">
              <li>
                <a><div>Mesa de Control</div><div class="flecha"></div></a>
                <ul class="nivel2">
                  <li><a href ng-click="setTab(1)"><div>Bandeja de Recepción</div></a></li>
                  <li><a href ng-click="setTab(2)"><div>Bandeja en Corrección AC</div></a></li>
                  <li><a href ng-click="setTab(3)"><div>Devueltas con observación</div></a></li>
                  <li><a href ng-click="setTab(4)"><div>Liberadas por MC</div></a></li>
                  <li><a href ng-click="setTab(5)"><div>Liberaciones Automáticas</div></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Contenido -->
      <div class="contSecc">
			<div class="">
				<ul class="menuTabs ">
					<li ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Bandeja de Recepción</a></li>
					<li ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Bandeja en Corrección AC</a></li>
					<li ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Devueltas con observación</a></li>
					<li ng-class="{ active: isSet(4) }"><a href ng-click="setTab(4)">Liberadas por MC</a></li>
					<li ng-class="{ active: isSet(5) }"><a href ng-click="setTab(5)">Liberaciones Automáticas</a></li>
				</ul>
				<div ng-show="isSet(1)">
					<div class="titSec">Bandeja de Recepción</div>
					<div class="gris">
						<ul id="EstructuraAsignada" class="estructurasCECO Tree treeview">
											<li class="first1 collapsable lastCollapsable"><div class="hitarea first1-hitarea collapsable-hitarea lastCollapsable-hitarea"></div>
												<input type="radio" name="grupo1" id="radio7" class="tree">
												<label for="radio7"></label>
												<span class=""><strong>Azteca Comunicaciones</strong></span>
													<ul style="display: block;">
														<li class="first collapsable"><div class="hitarea first-hitarea collapsable-hitarea"></div>
															<input type="radio" name="grupo2" id="radio8" class="tree">
															<label for="radio8"></label>
															<span class="seleccionado in"><strong>Canal</strong></span>
															<ul style="display: block;">
																<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																	<input type="radio" name="grupo3" id="radio9" class="tree">
																	<label for="radio9"></label>
																	<span class="">Corporativo Canales</span>	
																	<ul style="display: none;">
																		<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																			<input type="radio" name="grupo4" id="radio10" class="tree">
																			<label for="radio10"></label>
																			<span>Dir. General TVA (MSR)</span>
																			<ul style="display: none;">
																				<li class="last">
																					<input type="radio" name="grupo5" id="radio11" class="tree">
																					<label for="radio11"></label>
																					<a href="">000001 - TV Azteca</a>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
														<li class="collapsable"><div class="hitarea collapsable-hitarea"></div>
															<input type="radio" name="grupo2" id="radio12" class="tree">
															<label for="radio12"></label>
															<span class="seleccionado in"><strong>Azteca Comunicaciones</strong></span>
															<ul style="display: block;">
																<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																	<input type="radio" name="grupo3" id="radio13" class="tree">
																	<label for="radio13"></label>
																	<span>Azteca Perú</span>		
																	<ul style="display: none;">
																		<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																			<input type="radio" name="grupo4" id="radio14" class="tree">
																			<label for="radio14"></label>
																			<span>Presidencia</span>
																			<ul style="display: none;">
																				<li class="last">
																					<input type="radio" name="grupo5" id="radio15" class="tree">
																					<label for="radio15"></label>
																					<a href="">000002 - Azteca Comunicaciones</a>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
														<li class="expandable"><div class="hitarea expandable-hitarea"></div>
															<input type="radio" name="grupo2" id="radio16" class="tree">
															<label for="radio16"></label>
															<span class=""><strong>Tesorería Interna</strong></span>
															<ul style="display: none;">
																<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																	<input type="radio" name="grupo3" id="radio17" class="tree">
																	<label for="radio17"></label>
																	<span>Tesorería Interna</span>		
																	<ul style="display: none;">
																		<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																			<input type="radio" name="grupo4" id="radio18" class="tree">
																			<label for="radio18"></label>
																			<span>Tesorería de Caja</span>
																			<ul style="display: none;">
																				<li class="last">
																					<input type="radio" name="grupo5" id="radio19" class="tree">
																					<label for="radio19"></label>
																					<a href="">000097 - CC- Inactivos</a>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
														<li class="collapsable"><div class="hitarea collapsable-hitarea"></div>
															<input type="radio" name="grupo2" id="radio20" class="tree">
															<label for="radio20"></label>
															<span class=""><strong>Tesorería Interna</strong></span>
															<ul style="display: block;">
																<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																	<input type="radio" name="grupo3" id="radio21" class="tree">
																	<label for="radio21"></label>	
																	<span class="seleccionado in">Tesorería Interna</span>	
																	<ul style="display: none;">
																		<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																			<input type="radio" name="grupo4" id="radio22" class="tree">
																			<label for="radio22"></label>
																			<span class="seleccionado in">Tesorería de Caja</span>
																			<ul style="display: none;">
																				<li class="last">
																					<input type="radio" name="grupo5" id="radio23" class="tree">
																					<label for="radio23"></label>
																					<a href="" class="">000098 - Centros sin Actividad Admin</a>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
														<li class="expandable"><div class="hitarea expandable-hitarea"></div>
															<input type="radio" name="grupo2" id="radio24" class="tree">
															<label for="radio24"></label>
															<span class=""><strong>Azteca Servicios</strong></span>
															<ul style="display: none;">
																<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																	<input type="radio" name="grupo3" id="radio25" class="tree">
																	<label for="radio25"></label>	
																	<span>Oficina AS</span>	
																	<ul style="display: none;">
																		<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																			<input type="radio" name="grupo4" id="radio26" class="tree">
																			<label for="radio26"></label>
																			<span>Oficina AS</span>
																			<ul style="display: none;">
																				<li class="last">
																					<input type="radio" name="grupo5" id="radio27" class="tree">
																					<label for="radio27"></label>
																					<a href="">000099 - Fabricas (IN)</a>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
														<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
															<input type="radio" name="grupo2" id="radio28" class="tree">
															<label for="radio28"></label>
															<span class=""><strong>Otros Negocios RBS</strong></span>
															<ul style="display: none;">
																<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																	<input type="radio" name="grupo3" id="radio29" class="tree">
																	<label for="radio29"></label>	
																	<span>Promoespacio</span>	
																	<ul style="display: none;">
																		<li class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
																			<input type="radio" name="grupo4" id="radio30" class="tree">
																			<label for="radio30"></label>
																			<span>Dirección Promoespacio</span>
																			<ul style="display: none;">
																				<li class="last">
																					<input type="radio" name="grupo5" id="radio31" class="tree">
																					<label for="radio31"></label>
																					<a href="">000101 - Vicepresidencia Consejo TVA (MSR)</a>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>	
														</li>
													</ul>
											</li>
						</ul><!--fin ul estructurada-->
				</div>					
					<div class="gris">
							
						<table id="registro" class="tblPaginador tblGeneral ">
							<thead>
							<tr>
								<th>Folio</th>
								<th>Empresa</th>
								<th>Cliente</th>
								<th>RFC</th>
								<th>Producto</th>
								<th>Fecha de recepción</th>
								<th>Revisión</th>
								<th>Revisor</th>
								<th>Rev. A. Central</th>
								<th>Expediente</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>10173</td>
								<td>IMSS PENSINADOS</td>
								<td>Angelica Gonzalez Pacheco</td>
								<td>GOPA920429UU5</td>
								<td>CAPTACION</td>
								<td>16-07-2019 18:45:37</td>
								<td>1</td>
								<td>Edgar</td>
								<td>0</td>
								<td><a href="" class="modalEjemplo_view"><img src="img/icoArchivo.svg"></a></td>
							</tr>
							<tr>
								<td>10153</td>
								<td>GOBIERNO DEL ESTADO DE MÉXICO</td>
								<td>Angelica Gonzalez Pacheco</td>
								<td>GOPA920429UU5</td>
								<td>CAPTACION</td>
								<td>16-07-2019 13:18:59</td>
								<td>1</td>
								<td></td>
								<td>0</td>
								<td><a href="" class="modalEjemplo_view"><img src="img/icoArchivo.svg"></a></td>
							</tr>
							<tr>
								<td>10133</td>
								<td>SEDESOL 60 Y MAS</td>
								<td>Angelica Gonzalez Pacheco</td>
								<td>GOPA920429UU5</td>
								<td>CAPTACION</td>
								<td>16-07-2019 10:47:39</td>
								<td>1</td>
								<td></td>
								<td>0</td>
								<td><a href="" class="modalEjemplo_view"><img src="img/icoArchivo.svg"></a></td>
							</tr>
							<tr>
								<td>10114</td>
								<td>IMSS PENSINADOS</td>
								<td>Gerardo Alan Anguiano Mendoza</td>
								<td>AUMG930417H13</td>
								<td>CAPTACION</td>
								<td>16-07-2019 16:17:39</td>
								<td>1</td>
								<td></td>
								<td>0</td>
								<td><a href="" class="modalEjemplo_view"><img src="img/icoArchivo.svg"></a></td>
							</tr>
								<tr>
								<td>10113</td>
								<td>IMSS PENSINADOS</td>
								<td>Edgar Hernandez Garcia</td>
								<td>AUMG930417H7h</td>
								<td>CAPTACION</td>
								<td>16-07-2019 16:17:39</td>
								<td>1</td>
								<td></td>
								<td>0</td>
								<td><a href="" class="modalEjemplo_view"><img src="img/icoArchivo.svg"></a></td>
							</tr>
							<tr>
								<td>10113</td>
								<td>EXPORTADORA DE CAFE CALIFORNIA</td>
								<td>Edgar Hernandez Garcia</td>
								<td>AUMGE3E0417H7h</td>
								<td>CAPTACION</td>
								<td>16-07-2019 16:17:39</td>
								<td>1</td>
								<td></td>
								<td>0</td>
								<td><a href="" class="modalEjemplo_view"><img src="img/icoArchivo.svg"></a></td>
							</tr>
							<tr>
								<td>10193</td>
								<td>PRUEBAS</td>
								<td>Edgar Hernandez Garcia</td>
								<td>AUMGE3E0417H7h</td>
								<td>CAPTACION</td>
								<td>16-07-2019 16:17:39</td>
								<td>1</td>
								<td>VICTOR</td>
								<td>0</td>
								<td><a href="" class="modalEjemplo_view"><img src="img/icoArchivo.svg"></a></td>
							</tr>
							</tbody>
						</table>
						<br /><br />
						<a href="#" class="btn btnAgregar"><div></div> Agregar</a>
					</div>
				</div>
	
				<div ng-show="isSet(2)">
					<div class="titSec">Bandeja en Corrección AC</div>
				</div>
				<div ng-show="isSet(3)">
					<div class="titSec">Devueltas con observación</div>
				</div>
				<div ng-show="isSet(4)">
					<div class="titSec">Liberadas por MC</div>
				</div>
				<div ng-show="isSet(5)">
					<div class="titSec">Liberaciones Automáticas</div>
				</div>
			</div>
			<div class="gris">
				<div class="titCol">Por favor complete los siguientes campos</div>
				<div class="divCol3">
					<!-- <div class="col3"> -->
						Texto:<br>
						<select>
							<option value="">Opción 1</option>
							<option value="">Opción 2</option>
							<option value="">Opción 3</option>
					</select> 
					</div>
	
					<div class="col3 col2btn">
							<a href="#" class="btn btnGuardar w120"><div></div>Guardar</a>
					</div>
				</div>
			</div>
      </div>
      <!-- Footer -->
      <div class="footer">
        <div>Grupo Salinas</div>
        <div>Actualización Febrero 2019</div>
      </div>
    </div>
	<!-- Fin page -->
	
	<div id="modalEjemplo" class="modal">
		<div class="cuadro cuadroM" id="">
				<a href="#" class="simplemodal-close btnCerrar"><img src="img/icoCerrar.svg"></a>
				<div class="titModal">Grupos</div>
				<div class="contModal ">
					<div class="divCol1">
						<div class="col1"><span class="obliga">*</span> id Grupos:<br><input type="text" placeholder=""></div>
						<div class="col1">Descripción:<br><textarea></textarea></div>
						<div class="col1">
							Estatus 123:<br>
							<select>
									<option value="">Opción 1</option>
									<option value="">Opción 2</option>
									<option value="">Opción 3</option>
							</select>  
						</div>
					</div>
				</div>
				<div class="btnCenter">
					<a href="#" class="btnA btnG simplemodal-close">Cancelar</a>
					<a href="#" class="btnA simplemodal-close">Aceptar</a>
				</div>
			</div>
		</div>
  </body>
</html>

<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/jquery.dropkick.js"></script><!--Select -->
<script type="text/javascript" src="js/content_height.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script src="js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/funciones.js"></script>
<!-- Tablas/Paginado -->
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/paginador.js"></script>
<script>
  $(document).ready(function() {
    $("#registro").DataTable();
  });
</script>
