div.modal { display:none; }
/* Overlay */
#simplemodal-overlay { background-color:#000; }

/* Container */
.simplemodal-header {
	text-align: center;
	background-color: #1D4E8A;
	color: #FFFFFF;
	padding: 8px;
	font-size: 14px;
}
#simpldemodal-container {
	width: 550px; 
	*width: 620px;  
	margin: 0 auto;
	background-color:#FFFFFF; 
	border:1px solid #AAB7CE;
	border-radius: 3px;
	font-size: 11px;
}

.simplemodal-body { padding: 10px; }

.cuadro {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 1px;
	text-align: center;
    border: 1px solid #E0E0DE;
    -moz-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    -webkit-box-shadow: 0px 0px 11px rgb(204, 202, 202);
	box-shadow: 0px 0px 11px rgb(204, 202, 202);
    color:#000;
}
.cuadroG {width: 700px;}
.cuadroM {width: 500px;  }
.cuadroCh {width: 320px;}
.btnCerrar {text-align: right;display: block; width: 100%;}
.btnCerrar img {width: 23px;}
.titModal {
    border-bottom: 2px solid #006341;
    font-size: 19px;
    text-align: left;
    width: 94%;
    margin: auto;
    margin-top: -10px;font-family: 'AvenirNextLTPro-Medium';
}
.contModal{width: 94%; margin: 15px auto;}
@media screen and (max-width: 1024px){
	.cuadroG {width: 90%;  }
}
@media screen and (max-width: 700px){
.cuadroM {width: 90%;  }
	.cuadroG {width: 70%;  }
	    
}
