.m15{ margin-top: -15px;}
.w66 {width: 68%;margin: 15px 0% 15px 1%;max-height: 450px;}
.w30 {width: 30%;     margin: 15px 1% 15px 0px;}
.p1{ padding: 0px 0px 0px 1%;}
.contSecc {width: 94%;margin-top: 20px;margin: auto;}


.titSec {
    border-bottom: 2px solid #006341;
    padding: 15px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #000;
}
.tit {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
    margin-bottom: 10px;
}

.titCol {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
   padding-left: 1%;   
}
.gris {
    width: 100%;
    margin: 0px auto;
    padding: 15px 15px;
    background-color: #faf9f9;
    -moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
    -webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
    box-shadow: 0 0px 1px rgb(226, 222, 222);    margin-bottom: 15px;    text-align: justify;
}
.btnCenter {display: flex;justify-content: center; flex-wrap: wrap;   margin: 15px 0px 10px 0px;}
.btnCenter a {    margin: 0px 1% 10px 0px;}


.botones {display: flex;flex-wrap: wrap; margin: 18px 0px 0px 0px;}
.botones a {    margin: 0px 1% 10px 0px;}
.btnA {
    background-color: #006341;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
    max-width: 200px;
    font-family: 'AvenirNextLTPro-Medium';
    justify-content: center;
    align-items: center;
    height: 30px;
}
.btnG {
    background-color: #54585a;
    color: #fff;
    font-family: 'Avenir_Next_Regular';
}
.btnB {
    background-color: #fafafa;
    -moz-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    -webkit-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    box-shadow: 1px 1px 3px rgb(204, 202, 202);color: #2d2926;
}
.btn {
    background-color: #006341;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
	max-width: 200px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;height: 30px;
}
.btn div{    width: 15px;height: 15px;    margin: 0px 10px 0px 0px;}


img.ico {width: 20px; height: 20px;    cursor: pointer;}
.tblGeneral {
    width: 98.8%;
    padding: 10px 0%;
    margin: 0px auto;
}
.tblGeneral tr th {
    padding: 5px 10px 6px 10px;
    color: #333333;
    text-align: center;
    font-weight: 100;
    border-bottom: 2px solid #006341;
	font-size: 14px;font-family: 'AvenirNextLTPro-Medium';min-width: 87px;
}
.tblGeneral tr td {
    padding: 7px 10px 7px 10px;
    color: #606664;
    font-size: 13px;
    text-align: center;
    border-bottom: 3px solid #ffffff;    border-right: 2px solid #fff;
}
.tblGeneral tr:nth-child(odd) td {background-color: #f2f2f2;}
.tblGeneral tr:nth-child(even) td {background-color: #ffffff;}
.tblGeneral tr:hover td {    background-color: #e6efe6;}
.tblGeneral tr td a{color: #5fac98;
    text-decoration: underline;
    font-family: 'AvenirNextLTPro-Medium';}
.tblGeneral tr td img{width: 15px;    cursor: pointer;}
/*Menu tabs*/
.menuTabs {
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuTabs li {
    list-style: none;
    margin: 0px 0%;
    text-align: center;
    width: 33.33%;
    display: flex;
    padding: 0px 5px;border-right: 3px solid #fff;
}
.menuTabs li:last-child{ border: 0px;}
.menuTabs li a {
    color: #000;
    width: 100%;
    padding: 13px 0px;    text-decoration: none;
}
.menuTabs li.active a {font-family: 'Avenir_Next_Demi_Bold';color: #ffffff;}
.menuTabs li.active, .menuTabs li:hover {background-color: #006341;color: #ffffff !important;}
.menuTabs li.active, .menuTabs li:hover a {color: #ffffff !important;}

@media screen and (max-width: 1024px) { 
img.imgHome {width: 72%;bottom: 20px;}
.menuTabs  { height: 65px; }
.menuTabs li {height: 65px; }
}
@media screen and (max-width: 580px) {
.menuTabs  {height: 85px; }
.menuTabs li {height: 85px; }
.dataTables_wrapper .row {display: block;  }
.dataTables_wrapper .row div {display: block;  text-align: left;}
div.dataTables_wrapper div.dataTables_paginate {margin-top: 15px;}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {margin: 2px 0;white-space: nowrap;justify-content: center !important;}
div.dataTables_wrapper div.dataTables_filter {text-align: left !important; margin-top: 15px;}
.dataTables_filter input[type="search"] {width: 100%;}
}
