<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=edge" />
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/dropkick.css">
</head>

<body>

		<div class="fondo-portal">
				<div class="container-login">
				  <div class="box-login">
					<form [formGroup]="userForm" (ngSubmit)="login()" novalidate>
					  <h3 class="rows-login">
						Identifícate
					  </h3>
			  
					  <h2 class="rows-login">
						¿Cuál es tu número de empleado?
					  </h2>
					  <div class="rows-login rows-flex">
						<div class="icono naranja-01-ico">
						  <span class="icon-user"></span>
						</div>
						<div class="contenido">
						  <input type="text" id="user" placeholder="Usuario" formControlName="user" autocomplete="off" (keydown)="solonumeros($event)"
						  />
						</div>
					  </div>
			  
					  <h2 class="rows-login">
						Token
					  </h2>
					  <div class="rows-login rows-flex">
						<div class="icono naranja-01-ico">
						  <span class="icon-lock"></span>
						</div>
						<div class="contenido">
						  <input type="password" placeholder="Token" formControlName="token" maxlength="6" autocomplete="off" (keydown)="solonumeros($event)"
						  />
						</div>
					  </div>
			  
					  <div class="rows-login row-button">
						<button id="contact-submit" name="submit" type="submit" class="button azul-01" data-submit="...Sending" [disabled]="!userForm.valid">
						  Entrar
						</button>
					  </div>
					  <div class="rows-login sugerencia">
						<ul>
						  <li>Se recomienda el uso adecuado de la aplicación, cualquier uso indebido será sancionado</li>
						</ul>
					  </div>
					  <div class="row-message" *ngIf="showAlert">
						<span>{{MsgAlert}}.</span>
					  </div>
					</form>
				  </div>
				  <div *ngIf="activateLoading" class="Loading">
					<div class="loader"> <p class="loaderMsg"> {{msgloading}} </p></div>
				  </div>
				</div>
			  </div>

















	<div class="ContLogin">
		<div class="imagen"></div>
		<div class="login">
			<div class="titHome">Bienvenido a<br>
				<strong>Portal Principal</strong> 
			</div>
			<form id="miFormLogin" name="miFormLogin" action="" method="get" onsubmit="return validaLogin(this)">
				<div class="divLogin">
					<div class="subtit">Iniciar Sesión</div>
					<div><input type="text" placeholder="Usuario:" class="inputlogin" id="txtUsuario" autocomplete="off"></div>
					<div><input type="password" placeholder="Llave maestra:" class="inputlogin" id="txtLlave" autocomplete="off"></div>
					<div class="txtRojo">&nbsp;</div></td>
					<div><a href="" class="ligaLogin">¿Olvidaste tu llave maestra?</a></div>
					<div><input type="submit" class="btnLogin" value="Ingresar" ></div>
				</div>
				
			</form>
		</div>
	</div>
</body>
</html>	
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/funciones.js"></script>
