.contSeccMenus { width: 88%;}
/*Menú 1*/
/*Menu seguimiento*/
.seguimiento {position: fixed;width: 320px;background-color: #efefef;z-index: 999;top: 167px;bottom: 0px !important; -webkit-box-shadow: 0px 2px 28px 0px rgba(59,59,59,0.09);-moz-box-shadow:0px 2px 28px 0px rgba(59,59,59,0.09);box-shadow:0px 2px 28px 0px rgba(59,59,59,0.09);height: 100% !important;display: none;overflow: auto;
}
#menuSeg{ background-color:#efefef;}
#menuSeg {padding: 0;margin: 0;border: 0; width: 320px; z-index: 1000;}
#menuSeg ul, li {list-style: none;margin: 0;padding: 0; }
#menuSeg ul, #menuSeg li {width: 100%; }
#menuSeg a {width: 100%;height: 59px;display: block;    cursor: pointer;}
#menuSeg ul li a p {color: #979797;margin: 18px 0px 0px 32px;position: absolute;}
ul li{z-index: 10;}
ul li ul li{z-index: 20;}
ul li ul li ul li{z-index: 30;}

a.hamburgerSeg {vertical-align: top;color: #006341;font-size: 18px;line-height: 31px;}
img.imgSeg {width: 28px;float: left;margin-right: 11px;}
a.menuSeg1 {width: 100%;display: flex;padding: 10px 0px 10px 10%;color: #8a8a8a;}
a.menuSeg1 { background-color: #f7f7f7;}
a.menuSeg1:hover{background-color: #fff;}
a.menuSeg1 div {width: 5px;height: 5px;background-color: #b5b6b0;border-radius: 50%;margin-top: 6px;margin-right: 10px;}
a.menuSeg1:hover div {background-color: #006341 !important;}

.divSeg {margin-top: 20px;margin-left: 6%;}
a.hamburgerSeg.negro {color: #000;}
a.hamburgerSeg.negro img.imgSeg {transform: rotate(180deg);}
.ulCampos{display: flex;flex-wrap: wrap;    margin-top: 10px;}
.ulCampos li{    width: 401px;    height: 30px;}

/*Parte del acordeón*/
dl.accordionM {width: 100%;margin: auto;}
.accordionM dt {    padding: 8px 10px 8px 20px;color: #8a8a8a;cursor: pointer; border: none !important;}
.accordionM dt.accordion-active {background-color: #f7f7f7;color: #333333;}
.accordionM dd {width: 100%;margin: 0px auto;padding: 0px;background-color: #f7f7f7;}
.accordionM dt{display: flex;}
.accordionM dt div.bulet{width: 5px;height: 5px;background-color: #b5b6b0;border-radius: 50%;margin-top: 6px;margin-right: 10px;}
.accordionM dt.accordion-active div.bulet{background-color: #006341;}
.accordionM dt div:nth-child(2){width: 270px;text-align: justify}
/*Menu 1*/
#menu1 { width: 100%;font-size: 14px;background-color: #faf9f9;border-bottom: 1px solid #e3dfdf;margin: auto; margin-bottom: 30px;}
#menu1 ul, li {list-style: none; }
ul.Nivel1 {display: flex;justify-content: space-between;align-items: center;    }
#menu1 ul.Nivel1 li { width: 25%;text-align: center;border-right: 1px solid #e4e3e3;padding: 15px 0px;position: relative;box-sizing: border-box;border-bottom: 3px solid transparent;}
#menu1 ul.Nivel1 li:last-child {border-right: 1px solid #e4e3e3;}
#menu1 ul li a{text-decoration: none; color: #333333; }
#menu1 ul li.hover,
#menu1 ul li:hover, #menu1 ul li.menuActiv {position: relative;z-index: 599;cursor: default;border-bottom: 3px solid #006341;background-color: #e6efe6 !important;}

/*Segundo nivel*/
#menu1 ul.Nivel2 {width: 100%; visibility:hidden;position: absolute;z-index: 598;margin-top: 17px;}
#menu1 ul.Nivel2 li {list-style-type:none;background-color: #fff;color: #efefef;height: 50px;padding: 0px;margin: 0px 0px 0px 0px;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;cursor: pointer;box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0);border:solid 1px #e8e8e8;}

#menu1 ul.Nivel2 li a{display: block;padding: 15px 0px 21px 10px;}
#menu1 .Nivel2 li:hover {margin-left: 0px;}
#menu1 .Nivel2 li p {font-size: 13px;color: #000;position: absolute;}
#menu1 .flecha {font-size:0;width: 20px;height: 20px;float: right;}
#menu1 .flecha::before,.flecha::after {content: " ";display: inline-block;vertical-align: middle;}
#menu1 .flecha::after {width: 0.5rem;height: 0.5rem;border-right: 2px solid #006341;border-top: 2px solid #006341;;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin-left: -0.5rem;cursor:pointer;}

/*Tercer nivel*/
#menu1 ul.Nivel3 {visibility: hidden;position: absolute;z-index: 598;width: 100%;left: 100%;margin-left: 0px;margin-top: -37px;min-width: 170px;position: absolute;left: 100%;}
#menu1 ul li:hover > ul {visibility: visible; }
#menu1 ul.Nivel1 li ul.Nivel2 li {width: 100%;padding: 0px 0px;height: 38px;line-height: 10px;}
/*#menu1 ul.Nivel1 li:hover, .menuAct { border-bottom: 3px solid #006341;padding: 14px 0; }
.menu2 { display: none;}*/
#menu1 {margin-bottom: 0 !important;}
/*Menu3*/
.menuLateral {padding: 0px;margin: 0px;position: relative;left: 0;height: 100%;z-index: 99;background-color:#fafafa; width: 60px;}

ul#menu3 li {list-style-type: none;width: 60px;padding: 15px 0px;text-align: center;vertical-align: middle;}
ul#menu3 li:after {
    content: "";
    border-top: 19px solid rgba(9, 228, 39, 0);
    border-bottom: 20px solid rgba(108, 6, 239, 0);
    border-left: 16px solid rgba(52, 152, 219, 0);
    border-right: 11px solid #fafafa;
    left:45px;
    position: absolute;
    margin-left: -12px;
}

ul#menu3 li:hover:after{border-right: 11px solid #ffffff!important;}
ul#menu3 li.menuActivo:after {border-right: 11px solid #ffffff;}
ul#menu3 li:hover, .menuActivo {background-color:#006341;}
ul#menu3 li img{height: 33px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
ul#menu3 li{ background-size: 40px; background-repeat: no-repeat; background-position: center 17px;}
ul#menu3 li:hover img{filter: brightness(300%) contrast(2000%);-webkit-filter: brightness(300%) contrast(2000%);}
ul#menu3 li.menuActivo img{filter: brightness(300%) contrast(2000%);;-webkit-filter: brightness(300%) contrast(2000%);}
section.main{ padding: 10px 35px 35px 100px; }
.menutoggler {cursor: pointer;padding: 15px 0px;display: flex;align-items: center;justify-content: center;background-color: #faf9f9;display: none;}
.menutoggler img {width: 17px;margin: 0px 0px 0px 10px;}
@media screen and (max-width: 1070px) {
    .contSeccMenus {width: 70%;}
}
@media screen and (max-width: 800px) {
#menu1 li .flecha::before,.flecha::after {content: " ";display: inline-block;vertical-align: middle;}
#menu1 .flecha::after {width: 0.4rem;height: 0.4rem;border-left: 0px solid #006341;border-bottom: 2px solid #006341;border-right: 2px solid #006341;border-top: 0px solid #006341;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin-left: -0.5rem;cursor:pointer;}
#menu1 ul.nivel1 li.in .rotar::after{-webkit-transform: rotate(225deg);transform: rotate(225deg);}

ul.Nivel1 {flex-direction: column;}
#menu1 ul.Nivel1 li { width: 100%;border-right: transparent;border-bottom: 2px solid #e4e3e3;}	
li ul.Nivel3 {position: relative;left: 0%;}
#menu1 ul.Nivel3 {margin-top: 0px;}
#menu1 ul.Nivel3 {z-index: 598; width: 100%;left: 0px;min-width: 0px;}
#menu1 ul.Nivel1 li:hover ul.Nivel2{    position: initial;}
#menu1 ul.Nivel2 li:hover ul.Nivel3{    position: initial;}
#menu1 ul.Nivel1 li ul.Nivel2 li {display: table;}
#menu1 {width: 94%;position: absolute;transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;visibility: hidden;z-index: 100;}
.menutoggler {display: flex;}	
.mainver {z-index: 1;transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;visibility: visible !important;animation-name: rightFadeInOut;animation-delay: 0s;animation-duration: 1s;}
#menu1 ul.Nivel1 li:last-child {border-right: 0px; }
	
#menu1 ul.Nivel2 li:hover{background-color: #c4d6c4 !important;}
#menu1 ul.Nivel3 li:hover{background-color: #9fc19f !important;}
}

@keyframes rightFadeInOut {
  0% { filter: opacity(30%);}
	30% { filter: opacity(40%);}
	40% { filter: opacity(50%);}
	50% { filter: opacity(60%);}
	60% { filter: opacity(70%);}
	70% { filter: opacity(80%);}
	80% { filter: opacity(90%);}
	90% { filter: opacity(100%);}
}
@media screen and (max-width: 650px) {
.page {position: relative;}
#effect {z-index: 999;}
.menus {position: absolute;width: 70%;z-index: 9;margin-bottom: 0;}

/*Menú 2*/
.menu2 {display: inline-block;width: 100%;}
.menu2 ul li {background-color: #fff;}
/*Menu Responsive*/
h4.Nivel-2,
h4.Nivel-3 {border-bottom: 1px solid #e3dfdf;font-weight: 400;padding: 10px 15px;box-sizing: border-box;}
.menuResponsive1 h3:first-of-type {padding: 12px 15px;box-sizing: border-box;width: 94%;font-size: 14px;background-color: #faf9f9;border-bottom: 1px solid #e3dfdf;text-align: left;margin: 0 auto;color: #2d2926;}
.menuResponsive1 .ui-accordion-content {width: 94%;margin: 0 auto;border:1px solid #e3dfdf;}
.menu2 h3:focus {outline: none !important;}
.menu2 h4 {text-align: left;}
.menuResponsive2 h4.ui-state-hover,
.menuResponsive2 h4.ui-state-active,
.menuResponsive2 h4.ui-state-focus {background-color: #fdeb9f !important;border-bottom: 3px solid #006341;color: #2d2926 !important;}
.menuResponsive1 .ui-state-default .ui-icon,
.menuResponsive1 .ui-state-active .ui-icon {background-size: 20px;}
.menuResponsive2 .ui-state-default .ui-icon,
.menuResponsive2 .ui-state-active .ui-icon {background-size: 15px;}
.menuResponsive2 .ui-accordion-content { width: 100%;}
.menuResponsive2 ul li a {display: block;padding: 10px 30px;color: #2d2926;text-decoration: none;border-bottom: 1px solid #e3dfdf;}
.menuResponsive2 h4.Nivel-3 {padding: 10px 30px;}
.menuResponsive3 h4.Nivel-3 {padding: 10px 12px 10px 30px;}
.menuResponsive3 .ui-state-default .ui-icon,
.menuResponsive3 .ui-state-active .ui-icon {background-size: 11px !important;}
.menuResponsive3 ul li a {padding: 10px 45px;}
.menu2 .ui-state-default {
    background: #faf9f9 !important;
    background-image: url(../img/flecha.svg);
    background-repeat: no-repeat;
    background-position: right 0px;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    font-weight: bold !important;
}
.menu2 .ui-state-default .ui-icon {
    content: " ";
    background-image: url(../img/flecha.svg);
    background-repeat: no-repeat;
    background-position: left 0px;
    text-align: center;
    float: right;
    width: 22px;
    height: 17px;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.menuResponsive1 .ui-state-active .ui-icon {
    content: " ";
    background-image: url(../img/flecha.svg);
    background-repeat: no-repeat;
    background-position: right 0px;
    text-align: center;
    float: right;
    width: 22px;
    height: 17px;
    transform: rotate(180deg);
}
@media screen and (max-width: 450px) {
    .contSeccMenus {width: 60%;}
    .menus {position: absolute;width: 60%;z-index: 9;margin-bottom: 0;}
}