
@import url('fonts.css');

*{margin:0;padding: 0;}
#menuPrincipal{ background-color:#ffffff;}
.c-mright{right:0;left:0;border-bottom: 1px solid #f7f7f7;}

.l-navegacion li {
	list-style-type:none;
	background-color: #fff;color: #efefef;
	height: 58px;
	padding: 0px;margin: 0px 0px 0px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0);
border:solid 1px #f1f1f1;}

.l-navegacion li.vacio{border-bottom: 1px solid #c4d6c4;border-top: 1px solid #c4d6c4; }
.l-navegacion li:hover {margin-left: 0px;}

.l-navegacion li img {float: left;
margin: 15px 5px 12px 13px;
width: 20px;}
.l-navegacion li p {font-size: 14px;color: #000;margin: 16px 32px 0px;position: absolute;color: #979797;}
.l-navegacion li p span {
    font-size: 14px !important;
    color: #333333;
    padding: 0px 15px 0px 0px;
    font-family: 'Avenir_Next_Bold' !important;
}


.flecha {font-size:0;width: 20px;height: 20px;float: right;margin-top: 18px;} 

.flecha::before,.flecha::after {content: " ";display: inline-block;vertical-align: middle;}

.flecha::after {width: 0.4rem;height: 0.4rem;border-right: 2px solid #2a633d;border-top: 2px solid #2a633d;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin-left: -0.5rem;cursor:pointer;}


.header-usuario {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid;
    border: solid 1px #f1f1f1;
}
.header-usuario div{ }
div#foto{ float: left;
	width: 30%;
	padding: 20px 0px 20px 0px;}

div#inf-usuario { 
	width: 53%; display: inline-block; float: left; padding: 32px 23px 20px 0px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
}
div#inf-usuario span{color: #979797; font-size: 12px;}
img.imgLogo {
    width: 60px;
    padding: 16px 12px 0px 20px;
}
.w87{width: 87%; margin: auto;}
#menu {
    padding: 0;
    margin: 0;
    border: 0; width: 320px; z-index: 1000;
}

#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}

#menu ul {
      position: relative;
      z-index: 597;
      float: left; 
	margin-top: -10px;
}

#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}

#menu ul li.hover,
#menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; 
}
ul li.liSimple a p {margin: 7px 32px 0px 32px;  }
/*Segundo nivel*/

#menu ul li ul {
    visibility: hidden;
    position: absolute;
    /* top: 100%; */
    left: 0;
    z-index: 598;
    width: 320px;
    top: -1px;
    left: 100%;
}

#menu ul ul li {float: none; }

#menu ul li:hover > ul {visibility: visible; }

#menu ul li {float: none; }

/*#menu {
  width: 200px; 
}*/

#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}

#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}

#menu ul, #menu li {width: 100%; }
#menu li {background: #ffffff;}
#menu li:hover { background: #f6f6f6; }

#menu a {
    color: #666666;
    line-height: 160%;
    /*padding: 11px 28px 11px 28px;*/
    width: 100%; 
}

#menu ul.nivel1 li:hover{background-color: #e6efe6;color:#2a633d;}
#menu ul.nivel1 li:hover a p{font-family: 'Avenir_Next_Bold';color: #2a633d; }


#menu ul.nivel1 li ul.nivel2 {margin-top: 0px;}
#menu ul.nivel1 li ul.nivel2 li {margin-top: 0px; background: #e6efe6;    border-bottom: 1px solid #f3f8f3; }
#menu ul.nivel1 li ul.nivel2 li a p {color: #979797;font-family: 'Avenir_Next_Regular';margin: 7px 32px 0px 32px;  }
#menu ul.nivel1 li ul.nivel2 li:hover {background: #c4d6c4; }
#menu ul.nivel1 li ul.nivel2 li:hover a p {color: #2a633d; font-family: 'Avenir_Next_Bold';}

/*Tercer nivel*/
#menu ul li ul li ul {
    /* visibility: hidden; */
    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    z-index: 598;
    width: 100%;
    top: -240px;
    left: 100%;
    vertical-align: top;
    height: 500ppx;
}

#menu ul.nivel1 li ul.nivel2 li ul.nivel3 {margin-top: 0px;}
#menu ul.nivel1 li ul.nivel2 li ul.nivel3 li{margin-top: 0px; background: #c4d6c4; border-bottom: 1px solid #ebf1eb; }
#menu ul.nivel1 li ul.nivel2 li ul.nivel3 li.vacio{margin-top: 0px; background: #c4d6c4; border-bottom: 1px solid #c4d6c4; }
#menu ul.nivel1 li ul.nivel2 li ul.nivel3 li a p {color: #979797;font-family: 'Avenir_Next_Regular';margin: 7px 32px 0px 32px; }
#menu ul.nivel1 li ul.nivel2 li ul.nivel3 li:hover {background: #9fc19f; }
#menu ul.nivel1 li ul.nivel2 li ul.nivel3 li:hover a p {color: #2a633d; font-family: 'Avenir_Next_Bold';}

#menu ul.nivel1 li ul.nivel2 li ul.nivel3 li.vacio:hover{margin-top: 0px; background: #c4d6c4; border-bottom: 1px solid #c4d6c4; }


.

#menu .has-sub {position: relative; }

#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -5px;
    background-image: url(right.png);
}
#menu .has-sub > ul > .has-sub:after, #menu .has-sub:hover:after {
    background-image: url(img/sub-menu/flecha-verde.png); 
}	
#effect {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    z-index: 999;
    top: 52px;
}

.ver{display: block;}

.divConfig {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #ffffff;
    width: 250px;
    overflow: auto;
    box-shadow: 2px -3px 13px 2px rgba(154, 150, 150, 0.5);
    z-index: 9;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 14px;
}
/*.divConfig:after {
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 7px solid #f36153;
    border-left: 10px solid rgba(52, 152, 219, 0);
    border-right: 10px solid transparent;
    left: 275px;
    position: absolute;
    top: -3px;
}*/
.contConfig {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 4px;
}
.contConfig:after {
    content: "";
    border-top: 2px solid transparent;
    border-bottom: 20px solid #ffffff;
    border-left: 13px solid transparent;
    border-right: 16px solid transparent;
    left: 263px;
    position: absolute;
    top: 7px;
    z-index: 28;
}
.titConfig {
    color: #333333;
    font-family: 'Avenir_Next_Demi_Bold';
    padding: 10px 0px 10px 20px;
    border-bottom: 1px solid #ebebeb;
}
a.divConfig1 {
    width: 100%;
    color: #cbcbcb;
    font-family: 'Avenir_Next_Demi_Bold';
    height: 44px;
    display: block;
}
a.divConfig1 div {float: left;}
a.divConfig1 div:nth-child(1) {
    width: 61%;
    border-bottom: 1px solid #ebebeb;
    padding: 12px 10px;
	margin: 0px 0px 0px 10px;}
a.divConfig1 div:nth-child(2) {
    width: 23%;
    border-bottom: 1px solid #ebebeb;
    padding: 14px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
a.divConfig1:hover{background-color: #33825f; color: #ffffff; border-bottom: 1px solid #33825f}
a.divConfig1:hover div{border-bottom: 1px solid #33825f}
.titConfig1{color:#333333;}


.imgConfig{width: 28px;}
.imgConfig1{width: 24px;}
.transparente{background-color: transparent !important; width: 90%; }
a.divConfig1 div span {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    /* right: 11px; */
    background: #EC100F;
    color: #FFFFFF;
    line-height: 17px;
    border-radius: 50%;
    font-size: 9px;
    margin-top: -35px;
    margin-left: 34px;
}
@media (max-width: 780px){
#menu ul ul {
    visibility: hidden;
    position: absolute;
    z-index: 598;
    width: 100%;
       top: -240px;
    left: 0%;
    height: 600px;
    background-color: #efefef;
}
	#menu {width: 100%;}
	div.pic {width: 70px;height: 70px;}
	div#inf-usuario {font-size: 1.2em;
    padding: 29px 23px 20px 0px;}
	div#foto {width: 20%;padding: 10px 0px 20px 0px;}
	
	div#editar {
    float: right;
    height: 103px;
    margin-top: -1px;
    width: 38px;
}
	div#editar img {
    width: 55%;
    padding: 34px 12px;
}
}

@media (max-width: 500px){
div#inf-usuario {font-size: 1em;
    padding: 29px 23px 20px 0px;}
	div#foto {
    width: 25%;

}
}
	  