.m15{ margin-top: -15px;}
.w66 {width: 68%;margin: 15px 0% 15px 1%;max-height: 450px;}
.w30 {width: 30%;     margin: 15px 1% 15px 0px;}
.p1{ padding: 0px 0px 0px 1%;}
.contSecc {width: 94%;margin-top: 20px;margin: auto;}
.contHome { margin-top: -15px;}
.contHome {width: 100%;background-image: url(../img/home.png);position: absolute;background-size: cover;background-position: center;height: 87%;}
.titHome {position: absolute; top: 10%;left: 5%;max-width: 600px;}
.titHome1 {font-size: 4em;font-family: 'Avenir_Next_Demi_Bold';text-shadow: 1px 2px 5px #000000;color: #fff;}
.titHome2 {font-size: 2em; color: #5fac98;}
span.txtG {color: #006340;text-shadow: 1px 2px 1px #fff;}
img.imgHome {position: absolute;width: 80%;bottom: 30px;right: 30px;max-width: 900px;}

.titSec {
    border-bottom: 2px solid #006341;
    padding: 15px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #000;
}
.tit {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
    margin-bottom: 10px;
}

.titCol {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
   padding-left: 1%;   
}
.gris {
    width: 100%;
    margin: 0px auto;
    padding: 15px 15px;
    background-color: #faf9f9;
    -moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
    -webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
    box-shadow: 0 0px 1px rgb(226, 222, 222);    margin-bottom: 15px;    text-align: justify;
}
.btnCenter {display: flex;justify-content: center; flex-wrap: wrap;   margin: 15px 0px 10px 0px;}
.btnCenter a {    margin: 0px 1% 10px 0px;}

.btnDer {display: flex;justify-content: flex-end;flex-wrap: wrap;}
.btnDer a {margin: 0px 0% 10px 2%;}
.btnDer a:first-child {margin: 0px 0% 10px 0%;}

.btnIzq {display: flex;justify-content:flex-start;flex-wrap: wrap;}
.btnIzq a {margin: 0px 2% 10px 0%;}
.btnIzq a:last-child {margin: 0px 0% 10px 0%;}

.btnSpace{display: flex;justify-content: space-between;flex-wrap: wrap;}
.btnSpace a {margin: 0px 0% 10px 0%;}

.btnAround{display: flex;justify-content: space-around;flex-wrap: wrap;}
.btnAround a {margin: 0px 0% 10px 0%;}

.botones {display: flex;flex-wrap: wrap; margin: 18px 0px 0px 0px;}
.botones a {    margin: 0px 1% 10px 0px;}
.btnA {
    background-color: #006341;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
    max-width: 200px;
    font-family: 'AvenirNextLTPro-Medium';
    justify-content: center;
    align-items: center;
    height: 30px;
}
.btnG {
    background-color: #54585a;
    color: #fff;
    font-family: 'Avenir_Next_Regular';
}
.btnB {
    background-color: #fafafa;
    -moz-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    -webkit-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    box-shadow: 1px 1px 3px rgb(204, 202, 202);color: #2d2926;
}
.btn {
    background-color: #006341;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
	max-width: 200px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;height: 30px;
}
.btn div{    width: 15px;height: 15px;    margin: 0px 10px 0px 0px;}



.btnGuardar div {background-image: url(../img/icoGuardar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);-ms-filter: brightness(300%);}
.btnEditar div{background-image: url(../img/icoEditar.svg); background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnLimpiar div{background-image: url(../img/icoLimpiar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnDescargar div{background-image: url(../img/icoDescargar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnImprimir div{background-image: url(../img/icoPrint.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}

.btnWord div {background-image: url(../img/icoWord.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnExcel div{background-image: url(../img/icoExcel.svg); background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnPpt div{background-image: url(../img/icoPpt.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnTxt div{background-image: url(../img/icoTxt.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnPdf div{background-image: url(../img/icoPdf.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}

.btnAgregar div{background-image: url(../img/icoAgregar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.w120{width: 120px !important; margin-top: 18px;}

.btnAgregar {
    text-align: center;
    padding: 5px 10px;
    margin: auto;
	text-decoration: none;
    background-color: #006341;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
    max-width: 250px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.btnAgregar div {
    background-image: url(../img/icoAgregar.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 10px;    float: left;
}

.btnAgregar1 {
    padding: 5px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 14px;
    color: #575757;
    padding: 8px;
    border: 1px #575757 dashed;
    text-align: center;    background-color: #fff !important;
}
.btnAgregar1 img {width: 20px;height: 20px;}
.gris .btnCenter.btnBotton {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 100%;
}
img.ico {width: 20px; height: 20px;    cursor: pointer;}
.tblGeneral {
    width: 98.8%;
    padding: 10px 0%;
    margin: 0px auto;
}
.tblGeneral tr th {
    padding: 5px 10px 6px 10px;
    color: #333333;
    text-align: center;
    font-weight: 100;
    border-bottom: 2px solid #006341;
	font-size: 14px;font-family: 'AvenirNextLTPro-Medium';min-width: 87px;
}
.tblGeneral tr td {
    padding: 7px 10px 7px 10px;
    color: #606664;
    font-size: 13px;
    text-align: center;
    border-bottom: 3px solid #ffffff;    border-right: 2px solid #fff;
}
.tblGeneral tr:nth-child(odd) td {background-color: #f2f2f2;}
.tblGeneral tr:nth-child(even) td {background-color: #ffffff;}
.tblGeneral tr:hover td {    background-color: #e6efe6;}
.tblGeneral tr td a{color: #5fac98;
    text-decoration: underline;
    font-family: 'AvenirNextLTPro-Medium';}
.tblGeneral tr td img{width: 15px;    cursor: pointer;}
.cantidad {
    width: 120px;
    margin: auto;
    text-align: right;    color: #000;
}
tr.total  td{font-family: 'Avenir_Next_Demi_Bold';}
.divRadio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: stretch;
    margin: 0px 1%;
}
.divRadio div {
    width: 25%;min-width: 160px;
}
.divCol2Input {    display: flex;
    flex-wrap: wrap;
    align-items: center; }
.divCol2Input div{width: 50%;min-width: 160px;}
.CheckOrden div { width: 50%; min-width: 148px;}
.divRadio input[type=radio] + label {padding: 6px 30px 5px 22px;}
/*Menu tabs*/
.menuTabs {
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuTabs li {
    list-style: none;
    margin: 0px 0%;
    text-align: center;
    width: 33.33%;
    /*height: 46px;*/
    display: flex;
    padding: 0px 5px;border-right: 3px solid #fff;
}
.menuTabs li:last-child{ border: 0px;}
.menuTabs li a {
    color: #000;
    width: 100%;
    padding: 13px 0px;    text-decoration: none;
}
.menuTabs li.active a {font-family: 'Avenir_Next_Demi_Bold';color: #ffffff;}
.menuTabs li.active, .menuTabs li:hover {
    background-color: #006341;
    color: #ffffff !important;
}

.menuTabs li.active, .menuTabs li:hover a {color: #ffffff !important;}

.menuTabs1 {
    width: 100%;
    height: 35px;
    margin: 10px 0px 20px 0px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuTabs1 li {
    list-style: none;
    margin: 0px 0%;
    text-align: center;
    width: 33.33%;
    height: 35px;
    display: flex;
    padding: 0px 5px;
    border-right: 3px solid #fff;
    align-items: center;border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.menuTabs1 li a {
    color: #000;
    width: 100%;
    text-decoration: none;
}
.menuTabs1 li.active a {font-family: 'Avenir_Next_Demi_Bold';}
.menuTabs1 li.active, .menuTabs1 li:hover {
    color: #000;
    border-bottom: 3px solid #006341;
}
/*Seccion de agregar*/

.adjunto {display: flex;align-items: center;justify-content: space-between;margin-bottom: 15px;}
.adjunto div {width: 47%;   margin: 0px 1%;
}
.adjunto div:nth-child(3){width: 20px; display: flex;}
.adjunto div:first-child{margin: 0px 1% 0px 0px;}
.adjunto div:last-child{margin: 0px 0% 0px 1%;}
.btnCerrar1 {
    background-image: url(../img/icoCerrar.svg);
    background-size: 20px;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    display: flex;
    height: 20px;
    top: 0px;
}

/*Checkbox*/
.tblCheck tr th:nth-child(1), .tblCheck tr td:nth-child(1){ width: 50px !important;}
/*Switch*/
.tblCenter { display: flex;justify-content: center; }

/*treeview*/
input[type=checkbox].radioAP + label {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 10px;
    display: initial;
}
.seleccionado {color: #333333;}
input[type=checkbox]+ label {background-image: url(../img/checkbox.svg);}
input[type=radio].radioAP + label {display: initial;}
input[type=radio].tree + label, input[type=checkbox].tree + label {display: initial;padding: 6px 0px 5px 22px;}
.Tree a {color: #2d2926;}
/*Chat*/
#chat{ background-color: #fff;}
.mesaj-gecmisi {height: 400px;overflow-x: hidden;overflow-y: auto;}
.o {width: 266px;color: #000;position: relative;margin: 8px;text-align:left;padding: 5px 0px 14px 0px;}
.imgBot { width: 45px; background-color: #fff;float: right;padding: 8px;}
#chat img{border-radius:5px;margin:0 5px 0 5px; top:0;}  
.texto { background-color: #006341;padding: 8px;text-align: left;border-radius: 5px;width: 200px;color:#ffffff;}
.texto1 {background-color: #f0eeef;padding: 8px;text-align: left;border-radius: 5px;width: 200px;margin-left: 54px;}


/*----Tooltip----*/
#tooltip {
  text-align: left;
  color: #2d2926;
  background-color: #e6efe6;
  position: absolute;
  z-index: 10000;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: 100ms ease;
  -moz-transition: 100ms ease;
  -o-transition: 100ms ease;
  -ms-transition: 100ms ease;
  transition: 100ms ease;
}
#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e6efe6;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}
#tooltip.top:after { border-top-color: transparent; border-bottom: 10px solid #e6efe6; top: -20px; bottom: auto; }
#tooltip.left:after{left: 10px; margin: 0;}
#tooltip.right:after{right: 10px;left: auto;margin: 0;}
/*----CHIP-----*/
.chipSecc {display: flex;flex-wrap: wrap; align-items: center; }
.chip {display: inline-block;padding: 12px 25px;height: 50px;line-height: 17px;border-radius: 5px;background-color: #eae9e9;margin-right: 10px;margin-top: 10px;min-width: 128px;}
.chipClose {
    margin-right: 31px;
    /* display: inline-block; */
    padding: 17px 18px 0px 9px;
    height: 50px;
    line-height: 17px;
    border-radius: 20px 15px 15px 20px;
    background-color: #eae9e9;
    /* margin-right: 10px; */
    margin-top: 10px;
    min-width: 128px;
}


.ptChip{padding-top: 0!important;}
.chip .prChip{padding-right: 8px!important;}
.chip img {float: right;height: 29px;width: 23px;}
.chipActive {background-color: rgba(0, 99, 64, 0.24);}
.closebtn {padding-left: 10px;color: #888;font-weight: bold;float: right;font-size: 20px;cursor: pointer;}
.closebtn:hover {color: #000;}

.avatarChip {
	width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin-top: -16px;
    overflow: hidden;
    position: relative;
    left: -9px;
    border: solid 2px #666666;
}
.avatarChip img {width: 100%;}


.contChip {display: flex;}
.chip1 {
    align-items: center;
    background: #eae9e9;
    border-radius: 25px 10px 10px 25px;
        border-radius: 50px 25px 25px 50px;    display: flex;
        justify-content: space-between;
    margin: 10px 20px 10px 20px;
}
.chip1:hover {background: #006341;color: #ffffff;}
.chip1 div:nth-child(2){padding: 0 10px 0 10px;    text-align: start; width: 74%;}
.chip1 div:nth-child(1) {overflow: hidden;}
.chip1 div:nth-child(1) div {
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #c9cac8;
	height: 50px;
	width: 50px;
}
.chip1 div:nth-child(1) div img {width: 100%;}
.chip1 div:nth-child(3) img { border-radius: 50%; margin-right: 10px; cursor: pointer;}
/*Barra*/
.avance {
    display: flex;
	margin-bottom: 15px;font-family: 'AvenirNextLTPro-Medium';
}	
.barra {
    width: 100%;
    background-color: #999999;
    height: 15px;
    border-radius: 15px; position: relative; overflow: hidden;      margin-right: 15px;
}
.barra div{ height: 15px;position: absolute;   }
.barra div.bgAma { background-color: #006341;height: 15px;border-radius: 15px;width: 100%;}
.barra div.bgAma1{ background-color: #006341;height: 15px;border-radius: 15px;width: 100%;}
.barra div.bgAma2 { background-color: #305692;height: 15px;border-radius: 15px;width: 100%;}
.barra div.bgama3 { background-color: #ff0000;height: 15px;border-radius: 15px;width: 100%;}

/*Trackin1*/
.tracker {
  width: 97%;
}
.pasos {
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pasos .paso {
  box-sizing: border-box;
  flex: 1 0 auto;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  padding-left: 10px;
  position: relative;
  filter: drop-shadow(2px 0px 0px #bdbcbc);
	-moz-filter: drop-shadow(2px 0px 0px #bdbcbc);;-o-filter: drop-shadow(2px 0px 0px #bdbcbc);
}
.pasos .paso:not(:first-child) {
  margin-left: 22px;
  background-color: #fafafa;
}
.pasos .paso:not(:first-child):before {
  border-bottom: calc(20px) solid #fafafa;
  border-left: calc(20px) solid transparent;
  border-top: calc(22px) solid #fafafa;
  bottom: 0;
  content: " ";
  height: 0;
  position: absolute;
  left: calc(-20px);
  width: 0;
}
.pasos .paso:not(:last-child):after {
  border-bottom: calc(20px) solid transparent;
  border-left: calc(20px) solid #fafafa;
  border-top: calc(22px) solid transparent;
  bottom: 0;
  content: " ";
  height: 0;
  position: absolute;
  right: calc(-20px);
  width: 0;
}
.pasos .paso:last-child:after {
  border-bottom: calc(20px) solid transparent;
  border-left: calc(20px) solid #fafafa;
  border-top: calc(22px) solid transparent;
  bottom: 0;
  content: " ";
  height: 0;
  position: absolute;
  right: calc(-20px);
  width: 0;
}
.pasos .paso.active { background-color: #006341;color: #ffffff;}
.pasos .paso.completo { background-color: #d7d7d7;}
.pasos .paso.completo:before { border-bottom: calc(20px) solid #d7d7d7; border-left: calc(20px) solid transparent; border-top: calc(22px) solid #d7d7d7;}
.pasos .paso.active:before { border-bottom-color: #006341; border-top-color: #006341;}
.pasos .paso.active:after { border-left-color: #006341;}
.pasos .paso.completo:after { border-left-color: #d7d7d7;}
.pasos .paso .paso-nombre { font-size: 12px; font-weight: 600;}

/* tracker 2 y 3 */

.steps { margin: 0; padding: 4px 0 0; display: flex; counter-reset: stepcounter;}
.step { display: block; position: relative; padding: 40px 0 0; text-align: center; font-size: 12px; flex: 1;}
.step:after {
  content: counter(stepcounter);
  counter-increment: stepcounter;
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  color: #ffffff;
  background-color: #d7d7d7;
  border: 3px solid #d7d7d7;
  border-radius: 50%;
  font-size: 12px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  transform: translateX(-50%);
  z-index: 10;
  font-weight: 600;
}
.step:not(:first-of-type):before { content: ''; background-color: lightgray; position: absolute; top: 15px; right: 50%; width: 100%; height: 6px; z-index: 1;}
.step.active:after { background-color: #006341; color: #ffffff; border: 3px solid #006341;}
.step.active:before { background-color: #006341;}

/*Visualizador*/
.tabVisual {
	width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 1px rgb(226, 222, 222);
}
.tabVisual li {
    list-style: none;
    margin: 0px 0%;
    width: 100%;
    height: 46px;
    display: flex;
    padding: 0px 5px 0px 15px;
    border-bottom: 1px solid #e4e0e0;
}
.tabVisual li:last-child{ border: 0px;}
.tabVisual li a {color: #000; width: 100%; padding: 13px 0px; text-decoration: none;}
.tabVisual li.active a {font-family: 'Avenir_Next_Demi_Bold';color: #ffffff;}
.tabVisual li.active {background-color: #006341; color: #000;}
.tabVisual li:hover {background-color: #c4d6c4; }
.tabVisual li:hover a{color: #000 !important;}
iframe.frameVisual {width: 100%; min-height: 480px; border: none;}
div.imgVisual {display: flex; align-items: center; flex-direction: column;}
div.imgVisual img {width: 80%;}



/*Graficas*/
.divTablero1 {
    width: 90%;
    margin: auto;
    display: flex;max-width: 800px;
}
.divTablero1 > div {
    width: 45%;
    text-align: -webkit-center;
    margin: 2.5%;
    
}
.divTablero3 {
    width: 90%;
    margin: 35px auto;max-width: 800px;
}
.divTablero4 {
    display: flex;
    width: 90%;
    margin: auto;max-width: 800px;
}	
.divVertical {
    width: 40%;
    margin: 30px;
    float: left;
}
.divTablero5{
    width: 80%;
        margin: 30px auto;max-width: 800px;
}
.divTablero6 {
    width: 80%;
    margin: 30px auto;
    text-align: -webkit-center;
}
@keyframes rightFadeInOut {
  0% {right: 100%;}
  100% {right: 0%;}
}
.barra .bgAma, .barra .bgAma1, .barra .bgAma2, .barra .bgma3{
  position: absolute;
  opacity: 1	;
  animation-name: rightFadeInOut;
  animation-delay: 0s;
  animation-duration: 5s;
  color: #ccc;
	overflow: hidden;
}
@media screen and (max-width: 1024px) { 
img.imgHome {width: 72%;bottom: 20px;}

.menuTabs  { 
    height: 65px; 
}
.menuTabs li {height: 65px; 
}

}
@media screen and (max-width: 1000px) { 
.divRadio div {width: 33%;}
span.txtG { color: #51d42c;text-shadow: 1px 2px 1px #1f337c;}
.titHome {top: 5%;}
.titHome1 {font-size: 3em;}
.titHome2 {font-size: 1.5em;}
}
@media screen and (max-width: 900px) { 
	.col3btn{    flex-grow: 1;text-align: -webkit-center; }
	.col3btn .w120{margin-top: 0px;}
}
@media screen and (max-width: 900px) { 
img.imgHome {width: 65%;}
}
@media screen and (max-width: 700px) { 
	.col2btn{    flex-grow: 1;text-align: -webkit-center; }
	.col2btn .w120{margin-top: 0px;}
	.botones{justify-content: center;}
	.divRadio div {width: 50%;}
	 .pasos{width: max-content;}/*trackin*/
	/*Visualizador*/
	.w30 { width: 100%; margin: 15px 1%;}
	.w66 {width: 100%;}
	.tabVisual {flex-direction: row; text-align: center;}
	iframe.frameVisual {min-height: 400px;}
	.tabVisual li a {font-size: 12px;}
.tabVisual li {padding: 0px ;}
}

@media screen and (max-width: 580px) {

.menuTabs  { 
    height: 85px; 
}
.menuTabs li {height: 85px; 
}

.dataTables_wrapper .row {display: block;  }
.dataTables_wrapper .row div {display: block;  text-align: left;}

div.dataTables_wrapper div.dataTables_paginate {margin-top: 15px;}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important; margin-top: 15px;
}
.dataTables_filter input[type="search"] {
    width: 100%;
}

}


@media screen and (max-width: 500px) {
.divCol3 > .col3 input[type=checkbox] + label, .divCol3 > .col3 input[type=radio] + label {width: 100%;}	
	.divRadio div {width: 100%;}
	.divCol2Input div{width: 100%;}
}
@media screen and (max-height: 820px) {
.contHome {height: 83%;}
}
@media screen and (max-height: 650px) {
.contHome {height: 78%;}
}
@media screen and (max-height: 520px) {
.contHome {height: 74%;}
}